* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 1cm;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(58, 58, 58);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 0.5cm;
}

.container {
  border-radius: 10pt;
  background-color: rgb(82, 82, 82);
  width: 20cm;
  padding: 1cm;
}

.text-elem {
  display: flex;
  background-color: rgb(218, 218, 218);
  height: 0.8cm;
  padding-left: 3mm;
  padding-right: 3mm;
  border-radius: 3pt;
  align-items: center;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

p {
  font-family: Consolas;
  font-size: smaller;
  font-weight: 700;
}

.btn {
  border-radius: 3pt;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}